* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: lightblue;
  font-weight: 600;
}

a.navbar-brand img {
  height: 40px;
}
a.nav-link {
  font-size: 20px;
}

a.nav-link:hover {
  color: black!important;
}
.container {
  max-width: 1250px;
}

nav.navbar {
  background-color: white;
  height: 88px;
}

/* collapse */
.row {
  box-shadow: 5px 10px 8px #888888;
  border-radius: 10px;
  justify-content: space-around;
  display: flex;
  background: white;
  display: none;
  position: absolute;
  width: 800px;
  top: 63px;
  right: 79px;
}

.col-3 p:hover {
  color: black;
}

.col-3 p {
  font-weight: 700;
  margin-top: 10px;
  text-transform: uppercase;
  color: #755757;
}

.col-3 a {
  text-decoration: none;
  color: #A6AEB5;
  margin-bottom: 10px;
  display: block;
}

.col-3 a:hover {
  color: black;
}

.col-3 i {
  margin-right: 9px;
}

.active {
  display: flex;
}

/* -------------------- */
a.title {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.55);
  text-decoration: none;
  margin-right: 20px;
}

a.title:hover {
  color: black;
}

.col.about-us {
  display: flex;
  flex-direction: column;
}

.row.plans {
  right: 290px;
}

.row.help {
  right: 145px;
}

.row.about-us {
  right: 233px;
}

.col.plans {
  display: flex;
  flex-direction: column;
}

.col.plans a,
div.features a,
.col.about-us a,
.col.help a {
  color: #A6AEB5;
  text-decoration: none;
}

.col.help a:hover {
  color: black;
}

.col.about-us a:hover {
  color: black;
}

.col.plans a:hover {
  color: black;
}

.col.help {
  width: 100px;
  display: flex;
  flex-direction: column;
}

.row.about-us,
.row.help,
.row.plans {
  width: 200px;
}

span.saving-vaults {
  position: absolute;
  top: 150px;
  left: 310px;
  font-size: 8px;
}

span.saving-vaults:hover {
  color: black;
}

.my-btn {
  padding: 6px 20px;
  border-radius: 10px !important;
  background-color: lightblue;
}

.my-btn-dark {
    padding: 6px 17px;
  border-radius: 10px !important;
}

.my-btn-dark:hover {
  background-color: #198754;
}
