* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: lightblue;
  font-weight: 600;
}

col-3 {
  display: flex;
  justify-content: space-between;
}

a.navbar-brand img {
  height: 40px;
}

.container {
  max-width: 1250px;
}

nav.navbar {
  background-color: white;
  height: 88px;
}

.both-leave-enter {
  display: flex;
  align-items: center;
}

ul.navbar-nav li a {
  margin-right: 20px;
  font-size: 18px;
}

ul.dropdown-menu {
  border-radius: 10px;
  box-shadow: 0px 0px 5px 0px #aaaaaa;
}

div.dropdown-menu.a {
  width: 800px;
  padding: 0;
  margin: 0;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 0px #aaaaaa;
}

div.row.a {
  width: 100%;
}

div.dropdown-menu[data-bs-popper] {
  left: -310px;
}

li a.dropdown-item span {
  top: -13px;
  left: -10px;
  position: relative;
  color: #041730;
  font-size: 9px;
}

.dropdown-menu .row {
  width: 577px;
  height: 300px;
  border-radius: 10px;
}

.dropdown-menu p {
  font-size: 14px;
  font-weight: 600;
}

.dropdown-menu p i {
  margin-right: 5px;
}

.dropdown-menu ul {
  padding: 0;
  width: 100px;
  display: inline-block;
}

.dropdown-menu ul li {
  display: inline-block;
}

.my-features a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.55);
}

.my-features a:hover {}

.my-dropdown {
  background-color: white;
  position: absolute;
  width: 800px;
  right: 60px;
  top: 66px;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 0px #aaaaaa;
  display: none;
}

.my-dropdown ul li a {
  text-decoration: none;
}

.my-dropdown ul {
  list-style: none;
}

/* Bootstrap class */
.my-btn {
  background-color: #F0F0F0;
  border: none;
  border-radius: 10px !important;
  font-weight: 600;
  padding: 0 23px;
}

.my-btn:hover {
  color: #212529;
  background-color: rgba(240, 240, 240, 0.5)
}

.my-btn-dark {
  background-color: #212529;
  border: none;
  border-radius: 10px !important;
  font-weight: 600;
}

.my-btn-dark:hover {
  background-color: rgba(33, 37, 41, 0.8)
}

.bg-light {
  background-color: white !important;
}

/* utilities */
.dark {
  background-color: #191C1F;
}

.active {
  display: block;
}
